---
import Icon from "@components/Icon.astro";
import { Image } from "astro:assets";
import clsx from "clsx";

import featureImg from "@assets/pages/port/feature.webp";
import bgKv from "@assets/pages/port/kv.webp";

const features = [
  {
    icon: clsx`tabler--book`,
    text: "剧本收录：收录《海猫鸣泣之时》《海猫鸣泣之时散》完整正篇剧本。",
  },
  {
    icon: clsx`tabler--devices`,
    text: "多平台支持：支持 Windows、macOS、Linux，也可在 Android、iOS 运行。",
  },
  {
    icon: clsx`tabler--sparkles`,
    text: "完整还原：完整还原 PS3 版游戏的 CG、语音、特效、动态立绘。",
  },
  {
    icon: clsx`tabler--language`,
    text: "译文升级：译文经过进一步的人工校对润色，更加准确与通顺。",
  },
  {
    icon: clsx`tabler--trending-up-3`,
    text: "优化修正：优化 PS3 版旧有游戏系统，并修正多处 PS3 版错置·删减的文本·图片·语音·特效。",
  },
];
---

<section
  class:list={[
    "border-t-8 border-[#b39e7c]",
    "bg-white bg-cover bg-center bg-no-repeat md:bg-(image:--features-bg)",
  ]}
  style={`--features-bg: url('${bgKv.src}')`}
>
  <div
    class="bg-(image:--features-bg-mobile) bg-cover bg-center bg-no-repeat md:hidden"
    style={`--features-bg-mobile: url('${bgKv.src}')`}
  >
    <Image
      class="mx-auto w-4/7 py-[10dvw]"
      src={featureImg}
      alt="Feature"
    />
  </div>
  <div class="container text-lg md:pt-20">
    <div class="flex flex-col-reverse md:flex-row">
      <div class="flex-2 border-[#b39e7c] text-[#b39e7c] md:border-r-2 md:pr-6">
        <ul class="space-y-4">
          {
            features.map((item) => (
              <li class="flex items-center">
                <Icon class:list={[item.icon, "mr-6 flex-shrink-0 text-4xl"]} />
                {item.text}
              </li>
            ))
          }
        </ul>
      </div>
      <div class="hidden flex-1 pl-6 md:block">
        <Image class="w-full" src={featureImg} alt="Feature" />
      </div>
    </div>
  </div>
</section>
