---
import { Image } from "astro:assets";

import skyImg from "@assets/common/sky.webp";
import introductionImg from "@assets/pages/port/introduction.webp";
import cg2Img from "@assets/pages/port/cg-2.webp";
import cg1Img from "@assets/pages/port/cg-1.webp";
---

<section
  class="relative bg-(image:--intro-bg) bg-cover bg-fixed bg-no-repeat md:bg-center"
  style={`--intro-bg: url('${skyImg.src}')`}
>
  <div
    class="bg-(image:--intro-cg2) bg-cover bg-center bg-no-repeat md:hidden"
    style={`--intro-cg2: url('${cg2Img.src}')`}
  >
    <Image
      class="mx-auto w-4/7 py-[10dvw]"
      src={introductionImg}
      alt="Introduction"
    />
  </div>
  <div class="text-base-200">
    <div class="relative">
      <div class="container flex gap-28 pt-16 md:py-32">
        <div class="flex-1">
          <h2 class="text-3xl font-bold">
            海猫鸣泣之时 ～轮舞曲与夜想曲 移植版～
          </h2>
          <p class="mt-6 text-lg leading-12">
            是由民间制作组 Umineko Project 基于 Alchemist 制作的 PS3
            游戏《海猫鸣泣之时 ～魔女与推理的轮舞曲～》与《海猫鸣泣之时散
            ～真实与幻想的夜想曲～》进行移植重制版本，该版本包含了 PS3
            版《海猫》与《海猫散》的全部内容。
          </p>
        </div>
        <div class="hidden flex-1 md:block"></div>
      </div>
      <div
        class:list={[
          "absolute top-0 right-0 hidden h-full w-1/2 md:block",
          "bg-(image:--intro-cg2-right) bg-cover bg-center",
        ]}
        style={`--intro-cg2-right: url('${cg2Img.src}')`}
      >
      </div>
    </div>
    <div class="relative">
      <div
        class:list={[
          "absolute top-0 left-0 hidden h-full w-1/2 md:block",
          "bg-(image:--intro-cg1) bg-cover bg-right",
        ]}
        style={`--intro-cg1: url('${cg1Img.src}')`}
      >
      </div>
      <Image
        class="absolute top-0 left-1/2 hidden w-1/4 min-w-120 -translate-x-1/2 -translate-y-1/2 md:block"
        src={introductionImg}
        alt="Introduction"
      />
      <div class="container mt-6 flex gap-28 pb-[14dvw] md:mt-0 md:pt-32">
        <div class="hidden flex-1 md:block"></div>
        <div class="flex-1">
          <p class="text-lg leading-12">
            为了实现“完整还原 PS3
            版”的游戏体验，制作组对游戏进行了完全重制。不同于旧有的 PC
            版补丁，本移植版拥有与 PS3 版完全一致的视听效果，并对 PS3
            版系统进行了多项优化。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
